/* Grid System
05/2017 - Mads Rode

Based on Bootstrap Grid 3.0.2 and modified for simplicity and to 
reduce bloat.
********************************************************************/

@import "framework/grid-system.less";
@import "framework/grid-constructor.less";

@screen-xs:                  0;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

@screen-ms:                 480px;
@screen-ms-min:             @screen-ms;
@screen-tablet:             @screen-ms-min;

@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

@screen-xl:                 1600px;
@screen-xl-min:             @screen-xl;
@screen-xl-desktop:         @screen-xl-min;

@screen-xs-max:             (@screen-ms-min - 1);
@screen-ms-max:             (@screen-sm-min - 1);
@screen-sm-max:             (@screen-md-min - 1);
@screen-md-max:             (@screen-lg-min - 1);
@screen-lg-max:             (@screen-xl-min - 1);

//== Grid system

@grid-columns:              12;
@grid-gutter-width:         30px;
@grid-float-breakpoint:     @screen-sm-min;
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);


//== Container sizes

@container-tablet-small:    ((435px + @grid-gutter-width));
@container-ms:              @container-tablet-small;

@container-tablet:          ((720px + @grid-gutter-width));
@container-sm:              @container-tablet;

@container-desktop:         ((940px + @grid-gutter-width));
@container-md:              @container-desktop;

@container-large-desktop:   ((1140px + @grid-gutter-width));
@container-lg:              @container-large-desktop;

@container-xl-desktop:      ((1540px + @grid-gutter-width));
@container-xl:              @container-xl-desktop;


