/* Heyday
05/2017 - Mads Rode
********************************************************************/
// import.css eksample
//@import (inline) "../vendor/bower/framework/framework.css";

@import "base/grid/grid.less";
@import "base/variables.less";
@import "base/mixins.less";

body {background: #000;
	min-height:100vh;
	background-size:cover;
	background-position:center; 

	.icon {fill:blue} 
}
 
/*
	Please note that master.less is meant as an pickup file for all the 
	various components in the projects. Therefor it is not viable to
	style directly in this file.  

	Whenever creating and importing new .less files, please remember to run 
	the command "gulp" and if needed re-innitiate live review with "gulp watch"


	Sugested syntax eksamble.

	<div class="parent-block">

		<div class="parent-block__sub-element">

			<h1 class="parent-element__header">Header</h1>

			<div class="text-area parent-element__text-area">

				<p>
					Lorem ipsum...
				</p>

			</div>

		</div>

		<a href="/" class="parent-block__ btn btn btn--primary">Primary button</a>

		<a href="/" class="parent-block__ btn btn btn--secondary">Secondary button</a>

	</div>



// 	The following styling refers to the specific block element ".parent-block" and the styles
	should be found in a seperate file relevant to the block. Any references to other block
	elements (.text-area & .btn) should be limited to alterations unique to to "parent-block"

	Note that if the block is to be repeated several places through out the project, it should 
	be isolated with it's own file. Eg. "components.parent-block.less" 

	.parent-block {
		&__sub-element {}

		&__text-area {
			p {}
		}

		&__btn {}
	}


//	The elements below are both unique blocks and should be isolated in files specific to the
	element. 

	.btn {
		&--primary {}
		&--secondary {}
	}

	.text-area {
		p {}
	}

*/